.git
.venv
__pycache__
*.py[cod]

.cache
.mypy_cache
.pytest_cache
.pyright
.ruff_cache
.tox

.artifacts
build
dist
site
*.egg-info

.coverage
.coverage.*
coverage.xml
htmlcov

.env
.env.*
*.key
*.pem
*.p12
*.pfx

*.log
*.tmp
*.temp
*.swp
*~

.idea
.vscode
.DS_Store
Thumbs.db
Desktop.ini
